## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here

sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[30, 18, 39, 25, 48, 91, 53, 92, 10, 16, 94, 63, 58, 38, 52, 80, 1, 86, 77, 32, 75, 70, 60, 19, 17, 37, 95, 20, 62, 72, 65, 78, 93, 26, 8, 43, 49, 66, 45, 22, 73, 29, 64, 84, 0, 21, 6, 51, 50, 82, 34, 99, 40, 55, 96, 4, 31, 44, 11, 59, 90, 23, 13, 35, 81, 57, 97, 15, 71, 89, 56, 87, 42, 27, 76, 9, 12, 74, 85, 46]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set1 = set(sample_list_1)

print(len(set1))
#yes, stillls being 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# Your code here

sample_list_2 = [random.randint(1, 100) for _ in range(80)]
print(sample_list_2)
print(len(sample_list_2))

[44, 46, 46, 82, 35, 62, 64, 8, 30, 100, 6, 22, 46, 12, 9, 29, 87, 11, 72, 50, 36, 9, 66, 10, 22, 6, 12, 56, 23, 77, 71, 45, 54, 66, 99, 2, 99, 84, 13, 69, 67, 39, 48, 71, 58, 61, 35, 93, 85, 14, 38, 38, 20, 32, 13, 50, 35, 63, 29, 75, 16, 61, 29, 80, 12, 43, 60, 22, 43, 91, 98, 84, 36, 95, 54, 20, 9, 24, 53, 47]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set2 = set(sample_list_2)

print(len(set2))
#Nope, because sets, as the documentation explain are 'unordered collection of distinct hashable objects.'

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [10]:
# Your code here
set3 ={i for i in set1 if i not in set2}

In [11]:
#checking the above code is correct
tf = [i in set3 for i in set2]
print(tf)

[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
# Your code here
set4 ={i for i in set2 if i not in set1}
print(set4)

{2, 67, 36, 69, 98, 100, 14, 47, 54, 24, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [13]:
# Your code here
set5 ={i for i in set2 if i in set1}
print(set5)

{6, 8, 9, 10, 11, 12, 13, 16, 20, 22, 23, 29, 30, 32, 35, 38, 39, 43, 44, 45, 46, 48, 50, 53, 56, 58, 60, 62, 63, 64, 66, 71, 72, 75, 77, 80, 82, 84, 85, 87, 91, 93, 95, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [14]:
# Your code here
len(set1) - len(set3) == len(set2) - len(set4) == len(set5)

True

#### Create an empty set called `set6`.

In [15]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 4, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [17]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [18]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [19]:
# Your code here
#set3.union(set4)
#set3.union(set5)
#set3.union(set1)
#set3.union(set2)

#### Using the `pop` method, remove the first element from `set1`.

In [20]:
# Your code here
#set1 before any change
print(set1)

#remove the first element of the set
set1.pop()

#the set without its first element
print(set1)

{0, 1, 4, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}
{1, 4, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [22]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference_update(set(list_to_remove))
print(set1)

{4, 6, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 25, 26, 27, 30, 32, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 84, 85, 86, 87, 90, 92, 93, 94, 95, 96, 97}